#keyboard-button {
  display: block;
  position: fixed;
  bottom: 7px;
  left: 5px;
  background-color: gray;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  height: 32px;
  width: 32px;
}

#keyboard {
  display: flex;
  flex-direction: column;
  padding-top: 6px;
  position: fixed;
  bottom: 0px;
  width: 100vw;
  height: 130px;
  gap: 6px;
  background-color: lightgrey;
}

.keyboard-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.keyboard-spacer {
  width: 8vw;
  height: 38px;
  background-color: transparent;
  cursor: default;
}

.keyboard-key {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  width: 8vw;
  height: 38px;
  border-radius: 3px;
  background-color: grey;
  cursor: default;
}

.backspace {
  margin-left: 2vw;
  padding-left: 2vw;
  padding-right: 2vw;
}
