#keyboard-button {
  display: block;
  position: fixed;
  bottom: 5px;
  left: 5px;
  background-color: gray;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  height: 35px;
  width: 35px;
}

#keyboard {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  padding-bottom: 5px;
  position: fixed;
  bottom: 0px;
  width: 100vw;
  height: 110px;
  background-color: lightgrey;
}

.keyboard-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6px;
  height: 35px;
}

.keyboard-key {
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  width: 8vw;
  gap: 10px;
  height: 30px;
  border-radius: 3px;
  background-color: grey;
  cursor: default;
}
