/* The global style is loaded from https://wllrg.rs using
   React Helmet.

   Any css specific for this sub-site will go in this file. */

.xwd-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 1000px;
}

.black-cell {
  background-color: black;
  padding: 0;
  border: 0;
}

.white-cell {
  display: inline-block;
  border: 1px solid black;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 0 black;
  color: transparent;
  outline: none;
  cursor: default;
}
.white-cell:first-line {
  display: inline-block;
}
.white-cell:active {
  background-color: red;
}
.white-cell:focus {
  background-color: red;
}

.clue-number {
  font-size: 11px;
  pointer-events: none;
}
